.u-flex {
	display: flex;
}

.u-flex-flow-row, .u-flex-row, .datePicker .dp-footer {
	flex-direction: row;
}

.u-flex-flow-column, .u-flex-column, .datePicker .dp-inner {
	flex-direction: column;
}

.u-flex-row, .datePicker .dp-footer, .u-flex-column, .datePicker .dp-inner {
	display: flex;
}

.u-flex-centered {
	align-items: center;
}

.u-inflexible, .u-flex-0 {
	flex: 0;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-1 {
	flex: 1;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-2 {
	flex: 2;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-3 {
	flex: 3;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-4 {
	flex: 4;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-5 {
	flex: 5;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-6 {
	flex: 6;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-7 {
	flex: 7;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-8 {
	flex: 8;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-9 {
	flex: 9;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-flex-10 {
	flex: 10;
	flex-shrink: 1;
	flex-basis: 1;
}

.u-bold {
	font-weight: bold;
}

.u-nowrap {
	white-space: nowrap;
}

.u-nonav, .u-unselectable {
	touch-callout: none;
}

.datePicker {
	.dp-nav-view, .dp-nav-cell, .dp-week-day-name, .dp-decade-view, .dp-year-view, .dp-month-view {
		touch-callout: none;
	}
}

.u-unselectable {
	user-select: none;
}

.datePicker {
	.dp-nav-view, .dp-nav-cell, .dp-week-day-name, .dp-decade-view, .dp-year-view, .dp-month-view {
		user-select: none;
	}
}

.u-height-auto {
	height: auto;
}

.u-width-auto {
	width: auto;
}

.u-height-fill, .u-fill {
	height: 100%;
}

html.u-app {
	height: 100%;
	body {
		height: 100%;
	}
}

.u-width-fill, .u-fill {
	width: 100%;
}

html.u-app {
	width: 100%;
	body {
		width: 100%;
	}
}

.u-margin-auto {
	margin: auto;
}

.u-border-box {
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}
}

.u-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.datePicker {
	.dp-cell.dp-month, .dp-nav-view, .dp-nav-cell, .dp-week-day-name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.u-absolute {
	position: absolute;
}

.u-relative {
	position: relative;
}

html.u-app {
	overflow: hidden;
	box-sizing: border-box;
	body {
		overflow: hidden;
		box-sizing: border-box;
	}
	*, body * {
		box-sizing: border-box;
	}
}

.datePicker {
	position: absolute;
	top: 100%;
	z-index: 1000;
	width: 22rem;
	height: 22rem;
	margin: 0.25em;

	overflow: hidden;

	font: {
		size: 0.85em;
	}
	background: $black-04;
	color: $black-09;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

	.dp-body {
		flex: 1;
		position: relative;
		.dp-table {
			width: 100%;
			height: 100%;
		}
		.dp-month-view {
			position: absolute;
			transform: translate3d(0%, 0px, 0px);
			&.dp-prev {
				left: -100%;
			}
			&.dp-next {
				left: 100%;
			}
			.dp-week {
				display: table-row;
				list-style: none;
			}
		}
	}
	.dp-nav-table, .dp-body .dp-table {
		table-layout: fixed;
	}
	.dp-nav-table {
		width: 100%;
	}
	.dp-anim-target {
		transform: translate3d(0px, 0px, 0px);
		position: absolute;
		width: 100%;
		height: 100%;
		&.dp-transition-prev {
			animation-name: prev-month-nav;
		}
		&.dp-transition-next {
			animation-name: next-month-nav;
		}
	}

	
	.dp-cell {
		text-align: center;
		color: inherit;
		background: inherit;
		border: 1px solid $black-04;
		cursor: pointer;
		&.dp-prev, &.dp-next {
			color: $black-07;
			background: inherit;
		}

		&.dp-in-range {
			background: $black-03;
		}

		&.dp-disabled {
			cursor: default;
			opacity: 0.3;
			color: $black-06;
			background: inherit;
		}

		&:hover {
			color: inherit;
			font-weight: inherit;
			background: $black-03;
		}

		&.dp-value {
			color: $black-09;
			font-weight: bold;
			background: $black-02;
		}

		&.dp-current {
			color: $black-07;
			background: inherit;
		}

		&.dp-in-range {
			&.dp-current, &.dp-value {
				background: $black-02;
			}
		}
	}
	.dp-inner {
		border: 1px solid $black-03;
	}
	.dp-footer {
		padding: 3px;
		justify-content: center;
		border-top-width: 0px;
		.dp-footer-selected, .dp-footer-today {
			padding: 5px 15px;
			border-width: 1px;
			cursor: pointer;
		}
	}
	.dp-body {
		overflow: hidden;
	}
	.dp-anim-target {
		animation-duration: 200ms;
	}
	.dp-body .dp-cell:first-child, .dp-nav-table .dp-cell:first-child, .dp-body .dp-cell:last-child {
		border-left-width: 0px;
		border-right-width: 0px;
	}
	.dp-nav-table {
		.dp-cell:last-child {
			border-left-width: 0px;
			border-right-width: 0px;
		}
		.dp-row:first-child {
			height: 30px;
			font-weight: bold;
		}
	}
	.dp-body .dp-row:first-child {
		height: 30px;
		font-weight: bold;
	}
	.dp-week-day-name {
		cursor: default;
	}
	.dp-nav-view {
		cursor: pointer;
	}
	.dp-nav-cell {
		cursor: pointer;
		background: inherit;
		&:hover {
			background: $black-03;
		}
	}
	.dp-nav-view {
		background: inherit;
		&:hover {
			background: $black-04;
		}
	}
	.dp-nav-table .dp-cell {
		border-top-width: 0px;
		border-bottom-width: 0px;
	}
}

@-moz-keyframes prev-month-nav {
	to {
		transform: translate3d(100%, 0px, 0px);
	}
}


@-webkit-keyframes prev-month-nav {
	to {
		transform: translate3d(100%, 0px, 0px);
	}
}


@-o-keyframes prev-month-nav {
	to {
		transform: translate3d(100%, 0px, 0px);
	}
}


@keyframes prev-month-nav {
	to {
		transform: translate3d(100%, 0px, 0px);
	}
}


@-moz-keyframes next-month-nav {
	to {
		transform: translate3d(-100%, 0px, 0px);
	}
}


@-webkit-keyframes next-month-nav {
	to {
		transform: translate3d(-100%, 0px, 0px);
	}
}


@-o-keyframes next-month-nav {
	to {
		transform: translate3d(-100%, 0px, 0px);
	}
}


@keyframes next-month-nav {
	to {
		transform: translate3d(-100%, 0px, 0px);
	}
}