$barHeight: 38px;

.modal {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 500px;
	background: $white;
	border-radius: 3px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);

	overflow: hidden;

	&__Wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		background: rgba(0, 0, 0, 0.25);
	}

	&__Header {
		display: flex;
		align-items: center;
		height: $barHeight;
		padding: 0 0.5em;
		background: $black-02;
		color: $white;
		font: {
			weight: 700;
		}
	}

	&__Body {
		flex-grow: 1;
		overflow-y: auto;

		padding: 1em 0.5em;
	}

	&__Footer {
		display: flex;
		justify-content: space-between;
		height: $barHeight;
		background: $black-08;
		border-top: 1px solid $black-07;
	}

	&__FooterButtonGroup {

	}

	&__FooterButton {
		background: transparent;
		border: none;
		min-width: $barHeight;
		height: $barHeight;

		&-green {
			background: $green-02;
			color: $white;
			font: {
				weight: 600;
			}

			text-shadow: 0 1px rgba(0,0,0,0.25);
		}

		&-blue {
			background: $blue-01;
			color: $white;
			font: {
				weight: 600;
			}

			text-shadow: 0 1px rgba(0,0,0,0.25);
		}
	}
}