dist
node_modules
.settings
.editorconfig
.project
conf.json
dbconf.json
.tmp
.sass-cache
bower_components
public/styles/**/*.css
!public/styles/app.css
public/fonts/*
.idea
**/*.log*
react-client/js/bundle.js
react-client/js/bundle.min.js
fonts