


.modal {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2000;

	width: 400px;
	margin: 6.4rem 0 0 -200px;
	padding: 1em;

	background: lighten($black, 89%);
	text-align: left;

	border: 1px solid $black28;

	border-radius: 3px;

	box-shadow: 0 0 10px 4px rgba($black, 0.15);

	&_finance-header {
		margin: 0 0 1em;
	}

	&_finance-footer {
		text-align: right;
	}
}

