<div class="column-heading">
    <div class="column-title-wrapper">
        <span class="column-title">expenses</span>
        <button class="button column-title-button" type="button" ng-click="doToggleNewFinanceModal(1)">track new expense</button>
    </div>
    <span class="column-totals expenses" ng-if="finances.expenses.length">
        <em>{{ finances.attrs.expenses_count }}</em>
        item<span ng-if="finances.attrs.expenses_count>1">s</span> totaling
        <em>{{ finances.attrs.expenses_sum | currency }}</em> per month
    </span>
    <span class="column-totals expenses" ng-if="!finances.expenses.length">
        You&rsquo;re tracking no expenses yet
    </span>
</div>
<div class="finance-item-wrapper" ng-repeat="finance in finances.expenses | hideDeleted" ng-click="doOpenEditFinanceModal(finance)">
	<div class="finance-item red" ng-class="{active: activeFinance===finance && !!activeFinance.active}">
		<div class="finance-item-amount-wrapper">
			<div class="finance-item-amount">{{ finance.amount | currency }}</div>
			<div class="finance-item-time-meta">
				<span ng-if="finance.interval !== 'once'">{{ finance.interval | interval }}</span>
				<span ng-if="finance.interval === 'once'">{{ finance.duedate | date:'shortDate' }}</span>
			</div>
		</div>
		<div class="finance-item-name">{{ finance.name }}</div>
	</div>
</div>
