<div class="column-heading">
    <div class="column-title-wrapper">
	    <span class="column-title">income</span>
        <button id="newIncomeButton" class="button column-title-button" type="button" ng-click="doToggleNewFinanceModal(0)">track new income</button>
    </div>
    <span class="column-totals income" ng-if="finances.income.length">
        <em>{{ finances.attrs.income.count }}</em> item<span ng-if="finances.attrs.income.count>1">s</span> totaling <em>
        {{ finances.attrs.income.total_per_month | currency }}</em> per month
    </span>
    <span class="column-totals expenses" ng-if="!finances.income.length">
        You&rsquo;re tracking no income yet
    </span>
</div>
<div class="finance-item-wrapper" ng-repeat="finance in finances.income | hideDeleted" ng-click="doOpenEditFinanceModal(finance)">
	<div class="finance-item blue" ng-class="{active: activeFinance===finance && !!activeFinance.active}">
		<div class="finance-item-amount-wrapper">
			<div class="finance-item-amount">{{ finance.amount | currency }}</div>
			<div class="finance-item-time-meta">
				<span ng-if="finance.interval !== 'once'">{{ finance.interval | interval }}</span>
				<span ng-if="finance.interval === 'once'">{{ finance.duedate | date:'shortDate' }}</span>
			</div>
		</div>
		<div class="finance-item-name">{{ finance.name }}</div>
	</div>
</div>