
<div class="row">

	<form name="registerForm" ng-submit="submit()" class="offset-3 col-6">
		<h2>Create Account:</h2>
		<div class="row">
			<div class="input-group">
				<label for="email">Email:</label>
				<input id="email" class="input" type="email" ng-model="email">
			</div>
		</div>

		<div class="row">
			<div class="input-group">
				<label for="username">Username:</label>
				<input id="username" class="input" type="text" ng-model="username">
			</div>
		</div>
		<div class="row">
			<div class="input-group">
				<label for="password">Password:</label>
				<input id="password" class="input" type="password" ng-model="password">
			</div>
		</div>


		<div class="row">
			<button type="submit" class="button">Submit</button>
		</div>
	</form>
</div>
