
    <div id="finance-modal" class="modal modal_finance" ng-show="finance.active">
        <div class="row modal_finance-header">
            <span class="modal_finance-title">
				<span ng-if="!!finance">Edit finance {{ finance.name }}</span>
				<span ng-if="!finance">Create new finance</span>
			</span>
        </div>
        <form>
            <div class="row">
                <div class="col-10">
                    <div class="input-group">
                        <label for="finances-name" class="input-label required">name</label>
                        <input id="finances-name" class="input" type="text" ng-model="finance.name">
                    </div>


                    <div class="input-group">
                        <label for="finances-amount" class="input-label required">amount</label>
                        <input id="finances-amount" class="input" type="text" ng-model="finance.amount">
                    </div>

                    <div class="input-group">
                        <label for="finances-interval" class="input-label required">interval</label>
                        <select class="input" name="interval" id="finances-interval" ng-model="finance.interval">
                            <option value="0">one time</option>
                            <option value="24">daily</option>
                            <option value="168">weekly</option>
                            <option value="336">every other week</option>
                            <option value="744">each month</option>
                            <option value="4464">every 6 months</option>
                            <option value="8628">yearly</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="finances-description" class="input-label">description</label>
                        <textarea id="finances-description" class="input" name="description" cols="10" rows="10" ng-model="finance.description"></textarea>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row modal_finance-footer">
                <button class="button" type="button" ng-click="hideModal()">Cancel</button>
                <button class="button" type="submit">Save</button>
            </div>
        </form>

    </div>