

<div class="timeline" id="timeline" ng-controller="TimelineCtrl">
	<div class="timeline-balance">
		<div class="timeline-balance-item">
			<div class="income pill blue">{{ timeline.attrs.finance_sums.income | currency }}</div>
		</div>
		<div class="timeline-balance-item middle">
			<div class="sum" ng-class="{'red': timeline.attrs.finance_sums.income<timeline.attrs.finance_sums.expense, 'blue': timeline.attrs.finance_sums.income>timeline.attrs.finance_sums.expense}">
				<strong>{{ timelineBalance | currency }}</strong>
				<span ng-if="timeline.attrs.finance_sums.income<timeline.attrs.finance_sums.expense">loss</span>
				<span ng-if="timeline.attrs.finance_sums.income>timeline.attrs.finance_sums.expense">surplus</span>
				over the next month
			</div>
		</div>
		<div class="timeline-balance-item">
			<div class="expense pill red">{{ timeline.attrs.finance_sums.expense | currency }}</div>
		</div>

	</div>
	<div class="timeline-scroll">

		<div class="timeline-segment" ng-repeat="timelineSegment in timeline.items | reverse" ng-class="{today: timelineSegment.attrs.today==true, first: $index===0 && !timelineSegment.attrs.today, future: timelineSegment.attrs.future === true}" id="{{!!timelineSegment.attrs.today ? 'today' : ''}}">


			<div class="item-container income" ng-if="timelineSegment.finances.income.length">
				<div class="timeline-segment-meta" ng-switch="timelineSegment.attrs.future">

					<span ng-switch-when="true">expected</span>
					<span ng-switch-default>received</span>
					{{ timelineSegment.attrs.date }}
				</div>
				<div class="item-row" ng-class="{first: $index==0}" ng-repeat="finance in timelineSegment.finances.income">
					<div class="item-wrapper blue">
						<div class="item">
							<div class="item-amount-wrapper">
								<div class="item-amount">{{ finance.amount | currency }}</div>
							</div>
							<div class="item-name-wrapper">
								<div class="item-name">{{ finance.name }}</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="item-container expenses" ng-if="timelineSegment.finances.expenses.length">
				<div class="timeline-segment-meta" ng-switch="timelineSegment.attrs.future">
					<span ng-switch-when="true">due</span>
					<span ng-switch-default>paid</span>
					{{ timelineSegment.attrs.date }}</div>
				<div class="item-row" ng-class="{first: $index==0}" ng-repeat="finance in timelineSegment.finances.expenses">
					<div class="item-wrapper red">
						<div class="item">
							<div class="item-amount-wrapper">
								<div class="item-amount">{{ finance.amount | currency }}</div>
							</div>
							<div class="item-name-wrapper">
								<div class="item-name">{{ finance.name }}</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>


</div>
<div id="income" class="column left income" ng-include="'views/column-income.html'"></div>
<div id="expenses" class="column right expenses" ng-include="'views/column-expenses.html'"></div>
