<div class="item-wrapper" ng-class="{blue: item.type === 0, red: item.type === 1}">
	<div class="item">
		<div class="item-amount-wrapper">
			<div class="item-amount">{{ item.amount | currency }}</div>
		</div>
		<div class="item-name-wrapper">
			<div class="item-name">{{ item.name }}</div>
		</div>
	</div>
	<div class="timelineItem--editForm">
		<form action="">
			<div class="row">
				<div class="col-12 input-group">
					<label class="input-label" for="">Name</label>
					<input class="input" type="text" ng-model="item.name">
				</div>
			</div>
			<div class="row">
				<div class="col-12 input-group">
					<label class="input-label" for="">Amount</label>
					<input class="input" type="text" ng-model="item.amount">
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<button class="button">cancel</button>
				</div>
				<div class="col-6">
					<button class="button">save</button>
				</div>
			</div>
		</form>
	</div>
</div>