* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	position: absolute;
	top: 35px;
	right: 0;
	bottom: 0;
	left: 0;
}

.column {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	padding: 0 5px 2em;
	overflow-y: scroll;

	-webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);

	&::-webkit-scrollbar {
		display: none;
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	&::-webkit-scrollbar {
		display: none;
	}
	&::-moz-scrollbar {
		display: none;
	}
}