
.hero-section {
	padding: 57px 0 0;
	background: url('/images/mob-hero.jpg') no-repeat top center;
	background-size: 100% auto;
}

@media screen and (min-width: $mobileWidth) {
	.hero-section {

		background: url('/images/hero.jpg') no-repeat top center;
		background-size: 100% auto;
	}
}
