html {font-size: 10px;}

body {
	font: 400 1.4rem/1.15 'source sans pro', sans-serif;
}

.column-heading {
	display: inline-block;
	width: 100%;
	margin: 1em 0;

	font-size: 1.14em;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
}