$white: #FFFFFF;
$offWhite: #F7F7F7;
$grey: #DFDFDF;

$black: #333333;

$muted: #999999;

$blue: #38AEDD;
$blueLight: lighten(#38AEDD, 15%);

$red: #E22E07;
$redLight: lighten(#E22E07, 15%);
//$green;
