.timeline {
	width: 100%;
	height: 100%;

	padding: 120px 300px 0;

	overflow-y: scroll;

}

/*.timeline {
	width: 100%;
	background: #f7f7f7;
	font-size: 10px;
}*/

.timeline-segment {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 0 4em;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;

		width: 10px;
		height: 100%;

		margin: 0 0 0 -5px;
		padding: 0 0 15px;

		background: $muted;
	}

	&.today {

		// to hide the top of the timeline from appearing over the pill
		&:before {
			margin-top: 15px;
		}

		&:after {
			content: "Today";
			position: absolute;
			top: 0;
			left: 50%;

			width: 82px;
			height: 30px;

			margin: 15px 0 0 -41px;

			background: $muted;

			font-size: 1.2em;
			color: $white;
			text-align: center;
			line-height: 30px;

			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
		}
	}

	&.first {
		&:after {
			content: "^";
			position: absolute;
			left: 50%;
			top: -28px;
			width: 30px;
			height: 30px;
			margin: 0 0 0 -15px;
			background: #ccc;

			font-size: 1.2em;
			font-weight: 700;
			color: $muted;
			text-align: center;
			line-height: 35px;

			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;

		}
	}

	&.future {
		&:before {
			background: #ccc;
		}
	}




}

.timeline-segment-meta {
	width: 310px;
	font-weight: 700;
	text-transform: uppercase;
}

.item-container {
	position: relative;
	width: 50%;

	&.income {
		float: left;
		.timeline-segment-meta {
			float: right;
		}
	}

	&.expenses {
		float: right;
		.timeline-segment-meta {
			float: left;
			text-align: right;
		}
	}
}

.item-row {
	float: left;
	width: 100%;
	height: 30px;
	margin: 0 0 0.25em;

	&.first {
		.item:before {
			content: '';
			position: absolute;
			top: 50%;
			right: -105px;
			width: 105px;
			height: 3px;
			margin: -2px 0 0;

			background: #999;
		}
	}
}

.expenses {
	.item-row.first {
		.item:before {
			left: -105px;
		}
	}
}



.item-wrapper {
	position: absolute;
	width: 200px;

	&.blue {
		right: 110px;

		.item {
			background: #38AEDD;

			&:before {background: #38AEDD;}
		}
	}

	&.red {
		left: 110px;

		.item {
			background: #E22E07;

			&:before {background: #E22E07;}
		}
	}
}

.item {

	position: relative;
	width: 100%;
	height: 30px;
	padding: 0 0.25em;
	background: #999;
	color: #fff;

	border-radius: 6px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;



}

.item-amount-wrapper {
	float: left;
	width: 33%;

	.item-amount {
		font-size: 14px;
		line-height: 30px;
		font-weight: 600;
	}
}

.item-name-wrapper {
	float: left;
	width: 66%;
	padding: 0.25em 0 0 0.5em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.item-name {
		font-size: 0.75em;

		&:first-letter {text-transform: uppercase;}
	}
}