
.column-heading {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 1em 0;

	font-size: 1.14em;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	
	
}

.column-totals {
	position: absolute;
	left: 0;
	font-size: 0.7em;
	line-height: 1.4em;

	em {
		font-size: 1.3em;
		font-style: normal;
	}
}

.income {
	.column-totals {
		em {color: $blue;}
	}
}
.expenses {
	.column-totals {
		em {color: $red;}
	}
}