.input-group {
	display: flex;
	flex-direction: column;

	margin: 0 0 1em;

	&-label {

		display: inline-flex;
		align-items: baseline;

		.form-error {
			flex-grow: 1;
			text-align: right;
		}
	}
}