
@import '../../bower_components/normalize-scss/normalize';
@import '../../bower_components/font-awesome/scss/font-awesome';
$headerHeight: 35px;

$white: #FFFFFF;
$offWhite: #F7F7F7;

$grey: #DFDFDF;

$black-01: #3C434C;
$black-02: #49535F;
$black-03: #5A6370;
$black-04: #7C8794;
$black-05: #939AA3;
$black-06: #ACB5BF;
$black-07: #C7CFD9;
$black-08: #DADFE5;
$black-09: #E7ECF2;
$black-10: #FAFAFA;

$green-01: #527C1A;
$green-02: #7DA73A;
$green-03: #AACC6B;
$green-04: #D3F29F;
$green-05: #FAFFF0;

$orange-01: #BF520E;
$orange-02: #E68127;
$orange-03: #F1985B;
$orange-04: #FFF5EC;

$red-01: #B65053;
$red-02: #CD6166;
$red-03: #E59699;
$red-04: #FEF3F5;

$muted: #999999;

$blue-01: #2B9EDD;
$blue-02: #62BDFF;
$blue-03: #7ECEFF;
$blue-04: #EDF8FF;


$color-success: #00b760;
$color-warning: #fcb514;
$color-danger: #e87511;
$color-error: #7c211e;

// injector
@import 'components/_datepicker.component.scss';
@import 'components/_header.component.scss';
@import 'components/_modal.component.scss';
@import 'components/_navigation.component.scss';
@import 'components/finance-columns/_finance-column.component.scss';
@import 'components/finance-columns/_finance-item.component.scss';
@import 'components/timeline/_timeline-item-container.component.scss';
@import 'components/timeline/_timeline-item.component.scss';
@import 'components/timeline/_timeline-segment.component.scss';
@import 'components/timeline/_timeline.component.scss';
@import 'global/_structure.scss';
@import 'global/_typography.scss';
@import 'global/elements/_box.element.scss';
@import 'global/elements/_button.element.scss';
@import 'global/elements/_form.element.scss';
@import 'global/elements/_input.element.scss';
@import 'global/elements/_label.element.scss';
@import 'global/elements/_text.element.scss';
// endinjector
