$itemHeight: 54px;

.finances {

	&__ItemWrapper {
		& + & {
			margin-top: 0.5em;
		}
	}

	&__Item {
		display: flex;
		align-items: baseline;
		height: $itemHeight;
		padding: 0.25em 0.5em;

		color: $white;
		border-radius: 3px;

		&-income {
			background: $green-03;
			box-shadow: 0 2px $green-02;

			&.active {
				background: $green-02;
				box-shadow: 0 2px $green-01;
			}
		}

		&-expense {
			background: $orange-02;
			box-shadow: 0 2px $orange-01;
		}
	}

	&__ItemAmountWrapper {
		display: flex;
		flex-direction: column;
		width: 33%;
	}

	&__ItemAmount {
		font: {
			size: 1.5em;
			weight: 600
		}

		text-shadow: 0 1px rgba(0, 0, 0, 0.5);
	}

	&__ItemInterval {
		font: {
			size: 0.85em;
			weight: 600;
		}
		text-transform: uppercase;
		color: rgba($white, 0.85);
	}

	&__ItemName {
		flex-grow: 1;
		font: {
			weight: 600;
		}
		text-align: right;
		text-shadow: 0 1px rgba(0, 0, 0, 0.5);
	}
}