.finances {

	&__Column {
		$colWidth: 300px;

		display: flex;
		flex-direction: column;

		width: $colWidth;
		min-width: $colWidth;

		margin: 0.5em;
		overflow-y: scroll;

		&-income {
			order: 1;
		}

		&-expense {
			order: 3;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		&::-moz-scrollbar {
			display: none;
		}
	}

	&__ColumnTop {
		padding: 0.25em 0.25em 0.5em;
		border-bottom: 1px solid $black-08;
	}

	&__ColumnHeader {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5em;
	}

	&__ColumnType {
		font: {
			size: 1.25em;
			weight: 600;
		}

		text-transform: capitalize;
	}

	&__ColumnCount {
		font: {
			weight: 600;
			size: 1.15em;
		}

		span + span {
			margin: 0 0 0 0.1em;
		}
	}

	&__ColumnItemWrapper {
		flex-grow: 1;
		padding: 0.5em;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
